
<head>
<!-- script -->
<%- Loader("/public/javascript/addUser.min.js")
	.js("/public/javascript/bootbox.min.js")
	.js("/public/javascript/addUser.js")
	.js("/public/lib/CryptoJS_v3.1.2/rollups/md5.js")
	.done(assets)
	%>
<!-- style -->
<%- Loader("/public/stylesheet/addUser.min.css")
	.css("/public/stylesheet/login.css")
	.done(assets)
	%></head>

<script type="text/javascript">
	$(document).ready(function(){
        getAllUsers ();

	});

</script>

<div class="main_div">
	<div class="main_div2">
		<form id="signinForm" class="form-signin" onsubmit="return postAuthUserForm();">
			<h2 class="form-signin-heading">新增用户</h2>
			<input id="input_userId" type="text" class="form-control" placeholder="登陆ID" required autofocus>
			<input id="input_pwd" type="password" class="form-control" placeholder="密 码" required>
			<input id="input_uname" class="form-control" placeholder="用户名" required>
			<button id="submitBtn" class="btn btn-lg btn-primary btn-block margin-topForLoginBtn" type="submit" >添加</button>
			<div id="div_tip" class="alert alert-danger fade in margin-topForTipDiv">
				<span id="span_tipMsg"></span>
			</div>
		</form>
	</div>
	<hr>
	<div>
		<h3>所有用户列表</h3>
		<div>
        <hr>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>登陆名</th>
                    <th>用户名</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody id='add_listViewUser'>

            </tbody>
        </table>
    </div>
	</div>

</div>