<head>
<!-- script -->
<%- Loader("/public/javascript/index.min.js")
	.js("/public/javascript/bootstrap-select.js")
	.js("/public/javascript/bootstrap-datepicker.js")
	.js("/public/javascript/bootbox.min.js")
	.js("/public/javascript/index.js")
	.js("/public/lib/jquery/jquery.simplePagination.js")
	.done(assets)
	%>
<!-- style -->
<%- Loader("/public/stylesheet/index.min.css")
	.css("/public/stylesheet/bootstrap-select.css")
	.css("/public/stylesheet/datepicker.css")
	.css("/public/stylesheet/simplePagination.css")
	.done(assets)
	%></head>

<script type="text/javascript">
	$(document).ready(function(){
	});
</script>
<div class="main_div">
	<h3>欢迎使用进销存管理系统</h3>
</div>