<head>
<!-- script -->
<%- Loader("/public/javascript/inventory.min.js")
	.js("/public/javascript/bootstrap-select.js")
	.js("/public/javascript/bootstrap-datepicker.js")
	.js("/public/javascript/bootbox.min.js")
	.js("/public/javascript/inventory.js")
    .js("/public/javascript/moment.min.js")
	.js("/public/javascript/jquery.fs.stepper.js")
	.js("/public/lib/jquery/jquery.simplePagination.js")
	.done(assets)
	%>
<!-- style -->
<%- Loader("/public/stylesheet/inventory.min.css")
	.css("/public/stylesheet/bootstrap-select.css")
	.css("/public/stylesheet/datepicker.css")
	.css("/public/stylesheet/simplePagination.css")
	.css("/public/stylesheet/jquery.fs.stepper.css")
	.done(assets)
	%></head>

<script type="text/javascript">
	$(document).ready(function(){
		getAllInventories ();
	});
</script>
<div class="main_div">
	<h3>库存查看</h3>
	<hr>
	<table class="table table-striped">
        <thead>
            <tr>
                <th>商品名称</th>
                <th>当前库存</th>
                <th>单价</th>
                <th>生产商</th>
            </tr>
        </thead>
        <tbody id='add_listView'>

        </tbody>
    </table>

</div>