<head>
<!-- script -->
<%- Loader("/public/javascript/journal.min.js")
	.js("/public/javascript/bootstrap-select.js")
	.js("/public/javascript/bootstrap-datepicker.js")
    .js("/public/javascript/locales/bootstrap-datepicker.zh-CN.js")
	.js("/public/javascript/bootbox.min.js")
	.js("/public/javascript/journal.js")
	.js("/public/javascript/moment.min.js")
	.js("/public/lib/jquery/jquery.simplePagination.js")
    .js("/public/lib/jquery/jquery.autocomplete.js")
	.done(assets)
	%>
<!-- style -->
<%- Loader("/public/stylesheet/journal.min.css")
	.css("/public/stylesheet/bootstrap-select.css")
	.css("/public/stylesheet/datepicker.css")
	.css("/public/stylesheet/simplePagination.css")
    .css("/public/stylesheet/autocomplete.css")
	.done(assets)
	%></head>

<script type="text/javascript">
	$(document).ready(function(){
		getJournals(0,'','',0);
        getJournals2(0,'','',0,'');
        //getAllJournaltypes ();
        // $('#JourType').change(function(){ 
        //     getJournals($('#JourType').val(),'','',0);
        //     //getJournals2($('#JourType').val(),'','',0);
        // });
        $('.input-daterange').datepicker({
            format: "yyyy-mm-dd",
            language: "zh-CN",
            autoclose: true
        });
        
        getProductsByLikeId(null);
	});
</script>
<div class="main_div">
	<h3>操作记录</h3>
	<hr>
    <div class="tabbable" id="tabs-410411">
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#panel-1" data-toggle="tab">预入库/订单</a>
            </li>
            <li>
                <a href="#panel-2" data-toggle="tab">出库入库</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active fade in" id="panel-1">
                <div style="width:300px; padding-top:10px;">
                    <button style="float: right;margin-left: 10px; " type='button' class='btn btn-info ' onclick="searchJourByDate()">搜索</button>
                    <div class="input-daterange input-group" id="datepicker">
                        <input type="text" class="input form-control" id="sDate" name="start" />
                        <span class="input-group-addon">至</span>
                        <input type="text" class="input form-control" id="eDate" name="end" />
                    </div>

                </div>
                
                <table id="bookListStockOut" class="table table-striped">
                    <thead>
                        <tr>
                            <th>操作类型</th>
                            <th>操作时间</th>
                            <th>操作人</th>
                            <th>查看详情</th>
                        </tr>
                    </thead>
                    <tbody id='add_listView'>

                    </tbody>

                </table>
                 <div id='paginator_div' style="float:left;margin-bottom:60px" ></div>
            </div>

            <div class="tab-pane" id="panel-2">
                <div style=" width:550px; padding-top:10px;">
                    <button style="float: right;margin-left: 10px;" type='button' class='btn btn-info ' onclick="searchJourByDate2()">搜索</button>
                    <div style="float: left;margin-right: 10px;height: 30px;" >
                        <input type="text" id="stockProductInput" class="form-control" style="width:200px" placeholder="输入产品编号" />
                    </div>
                    <div class="input-daterange input-group" id="datepicker">
                        <input type="text" class="input form-control" id="sDate2" name="start2" />
                        <span class="input-group-addon">至</span>
                        <input type="text" class="input form-control" id="eDate2" name="end2" />
                    </div>

                </div>
                <div  id="showStat" class="panel panel-default"  style="margin-top:10px;">
                  <div id="showStatInner" class="panel-body">
                    
                  </div>
                </div>
                 <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>操作类型</th>
                            <th>操作时间</th>
                            <th>操作人</th>
                            <th>查看详情</th>
                        </tr>
                    </thead>
                    <tbody id='add_listView1'>

                    </tbody>
                </table>
                <div id='paginator_div1' style="float:left;margin-bottom:60px" ></div>
            </div>
        </div>
        
    </div>
    
	 


</div>

<div class="modal fade" id="checkStockOut" tabindex="-1" role="dialog" aria-labelledby="checkBookListModleLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" >发货详情</h4>
                </div>
                <div class="modal-body" id="lastStockOutInfo">
                    <table id="lastStockOutInfoDetails" class="table table-striped">
                        <thead>
                            <tr>
                                <th>商品编号</th>
                                <th>商品名</th>
                                <th>批号</th>
                                <th>数量</th>
                                <th>客户名</th>
                            </tr>
                        </thead>
                        <tbody id='astStockOut_listView'>
                            
                        </tbody>
                    </table>
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>

            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
     <div class="modal fade" id="checkStockIn" tabindex="-1" role="dialog" aria-labelledby="checkBookListModleLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" >入库详情</h4>
                </div>
                <div class="modal-body" id="lastStockInInfo">
                    <table id="lastStockInInfoDetails" class="table table-striped">
                        <thead>
                            <tr>
                                <th>商品编号</th>
                                <th>商品名</th>
                                <th>批号</th>
                                <th>数量</th>
                                <th>供应商</th>
                            </tr>
                        </thead>
                        <tbody id='astStockIn_listView'>
                            
                        </tbody>
                    </table>
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>

            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

     <div class="modal fade" id="checkOrder" tabindex="-1" role="dialog" aria-labelledby="checkBookListModleLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" >订单详情</h4>
                </div>
                <div class="modal-body" id="lastStockOutInfo">
                    <h5>客户名:<span id="orderCustName"></span></h5>
                    <h5>订单时间:<span id="orderTime"></span></h5>
                    <h5>备注:<span id="orderRemark"></span></h5>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>商品名</th>
                                <th>单价</th>
                                <th>数量</th>
                                <th>备注</th>
                            </tr>
                        </thead>
                        <tbody id='order_listView'>
                            
                        </tbody>
                    </table>
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>

            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

