<head>
<!-- script -->
<%- Loader("/public/javascript/order.min.js")
	.js("/public/javascript/bootstrap-select.js")
	.js("/public/javascript/bootstrap-datepicker.js")
	.js("/public/javascript/bootbox.min.js")
	.js("/public/javascript/order.js")
	.js("/public/javascript/jquery.fs.stepper.js")
	.js("/public/lib/jquery/jquery.simplePagination.js")
    .js("/public/javascript/jquery.validationEngine.js")
    .js("/public/javascript/jquery.validationEngine-zh_CN.js")
	.done(assets)
	%>
<!-- style -->
<%- Loader("/public/stylesheet/order.min.css")
	.css("/public/stylesheet/bootstrap-select.css")
	.css("/public/stylesheet/datepicker.css")
	.css("/public/stylesheet/simplePagination.css")
	.css("/public/stylesheet/jquery.fs.stepper.css")
    .css("/public/stylesheet/validationEngine.jquery.css")
	.done(assets)
	%></head>

<script type="text/javascript">
	$(document).ready(function(){
		$("input[type='number']").stepper();
        $("#productForm").validationEngine();
        $("#orderCustForm").validationEngine();
		$("#productID").keydown(function(event) {  
	        if (event.keyCode == 13) {  
	            getProductOneInfo($("#productID").val()); 
	        }
	    })  
	});
</script>
<div class="main_div">
	<h3>生成订单操作</h3>
	<hr>
	<form class="productAddTemp" id="productForm">
        <div class="row">
            <div class="col-md-3">
                商品编号(条形码):
                <input class="form-control validate[required]" id="productID" name="PRODUCT_ID" />
            </div>
            <div class="col-md-3">
                商品名称:
                <input class="form-control validate[required]" id="productName"  name="PRODUCT_NAME" />
            </div>
            <div class="col-md-3">
                当前库存:
                <input class="form-control validate[required]" id="productKucun"  name="PRODUCT_KUCUN" readonly />
            </div>
           
        </div>
        <div class="row">
            <div class="col-md-3">
                商品单价:
                <div class="input-group">
                  <input type="text" class="form-control validate[required,custom[integer],min[1]]" id="productPrice" name="PRICE">
                  <span class="input-group-addon">.00</span>
                </div>
            </div>
            <div class="col-md-3">
                商品数量:
                <input type="number" class="form-control validate[required]" min="1" id="productNum"  name="NUM" />
            </div>
            <div class="col-md-3">
                备注:
                <input id="pd_remark" class="form-control" name="REMARK" size="16" type="text">
            </div>
            
        </div>

        <div class="row">
             <div class="col-md-3">
                <button type="button" class="btn btn-primary" style="margin-top:10px" onclick="addProductToList()">添加商品至订单</button>
            </div>
        </div>
    </form>
    <div>
        <h3>已添加至订单</h3>
        <hr>
        <form id="orderCustForm">
            <div class="row">
                <div class="col-md-3">
                    客户名称:
                    <input class="form-control validate[required]" id="orderCustName"  />
                </div>
                <div class="col-md-3">
                    备注:
                    <input class="form-control" id="orderRemark"   />
                </div>
               
            </div>
        </form>
         <hr>
        <table id="bookListStockOut" class="table table-striped">
            <thead>
                <tr>
                    <th>商品名</th>
                    <th>单价</th>
                    <th>数量</th>
                    <th>备注</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody id='add_listView'>

            </tbody>
        </table>
        <div style="width: 140px;margin-top: 15px;float: right;" id="submitStockIn">

        	<button type="button" onclick="submitOrder()" class="btn btn-default btn-lg">
			<span class="glyphicon glyphicon-ok"></span> 生成订单
			</button>
        </div>
    </div>


    <div class="modal fade" id="checkBookList" tabindex="-1" role="dialog" aria-labelledby="checkBookListModleLabel" aria-hidden="true">
	    <div class="modal-dialog">
	        <div class="modal-content">
	            <div class="modal-header">
	                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	                <h4 class="modal-title" id="myModalLabel">订单确认</h4>
	            </div>
	            <div class="modal-body" id="bookListInfo">
	                
	            </div>

	        </div><!-- /.modal-content -->
	    </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->

</div>