<head>
<!-- script -->
<%- Loader("/public/javascript/product.min.js")
	.js("/public/javascript/bootstrap-select.js")
	.js("/public/javascript/bootstrap-datepicker.js")
	.js("/public/javascript/bootbox.min.js")
	.js("/public/javascript/product.js")
	.js("/public/lib/jquery/jquery.simplePagination.js")
    .js("/public/javascript/locales/bootstrap-datepicker.zh-CN.js")
	.done(assets)
	%>
<!-- style -->
<%- Loader("/public/stylesheet/product.min.css")
	.css("/public/stylesheet/bootstrap-select.css")
	.css("/public/stylesheet/datepicker3.css")
	.css("/public/stylesheet/simplePagination.css")
	.done(assets)
	%></head>

<script type="text/javascript">
	$(document).ready(function(){
        getProductCates();
        getProducts();
        $('#productID').focus();
	});
</script>
<div class="main_div">
	<h3>商品管理</h3>
	<hr>
	<form class="productAdd">
        <div class="row">
            <div class="col-md-3">
                商品编号:
                <input class="form-control" id="productID" name="PRODUCT_ID" />
            </div>
            <div class="col-md-3">
                商品类型:
                <select  id="proCateType" name="PC_ID"  class="selectpicker show-tick">
                    <option value="0">-- 请选择商品类型 --</option>
                </select>
            </div>
            <div class="col-md-3">
                商品名称:
                <input class="form-control"  name="PRODUCT_NAME" />
            </div>
           
        </div>
        <div class="row">
            <div class="col-md-3">
                商品价格:
                <div class="input-group">
                  <input type="text" class="form-control" id="proPrice" name="PRICE">
                  <span class="input-group-addon">.00</span>
                </div>
            </div>
            <div class="col-md-3">
                生产厂家:
                <input class="form-control"  name="MANUFACTURE_NAME" />
            </div>
            <div style="display:none" class="col-md-3">
                生产日期:
                 <input id="maDate" class="form-control" size="16" type="text">
            </div>
        </div>
        <div class="row">
             <div class="col-md-3">
                <button type="button" class="btn btn-primary" style="margin-top:10px" onclick="addProduct()">确定录入商品</button>
            </div>
        </div>
    </form>
    <div>
        <h3>现有商品</h3>
        <hr>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>商品名</th>
                    <th>价格</th>
                    <th>生产商</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody id='pd_listView'>

            </tbody>
        </table>
        <div id='paginator_div' style="float:left;padding-top:10px" ></div>
    </div>
    
    <div class="modal fade" id="editProduct" tabindex="-1" role="dialog" aria-labelledby="PModleLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" >修改商品</h4>
                </div>
                <div class="modal-body" id="lastStockOutInfo">
                
                    <form class="productEdit">
                        <div class="row">
                            <div class="col-md-5">
                                商品类型:
                                <select  id="proCateTypeE" name="PC_ID"  class="selectpicker show-tick">
                                    <option value="0">-- 请选择商品类型 --</option>
                                </select>
                            </div>
                            <div class="col-md-5">
                                商品名称:
                                <input class="form-control" id="proName"  name="PRODUCT_NAME" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5">
                                商品价格:
                                <div class="input-group">
                                  <input type="text" class="form-control" id="proPriceE" name="PRICE">
                                  <span class="input-group-addon">.00</span>
                                </div>
                            </div>
                            <div class="col-md-5">
                                生产厂家:
                                <input class="form-control"  id="manuE" name="MANUFACTURE_NAME" />
                            </div>
                            <div style="display:none" class="col-md-3">
                                生产日期:
                                 <input id="maDate" class="form-control" type="text">
                            </div>
                        </div>
                       
                    </form>
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" id="subpStockInBtn" class="btn btn-primary">确认修改商品</button>
                </div>

            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    
</div>

