<head>
<!-- script -->
<%- Loader("/public/javascript/stockIn.min.js")
	.js("/public/javascript/bootstrap-select.js")
	.js("/public/javascript/bootstrap-datepicker.js")
	.js("/public/javascript/bootbox.min.js")
	.js("/public/javascript/stockIn.js")
	.js("/public/lib/jquery/jquery.simplePagination.js")
    .js("/public/javascript/jquery.fs.stepper.js")
    .js("/public/javascript/jquery.validationEngine.js")
    .js("/public/javascript/jquery.validationEngine-zh_CN.js")
	.done(assets)
	%>
<!-- style -->
<%- Loader("/public/stylesheet/stockIn.min.css")
	.css("/public/stylesheet/bootstrap-select.css")
	.css("/public/stylesheet/datepicker.css")
	.css("/public/stylesheet/validationEngine.jquery.css")
    .css("/public/stylesheet/simplePagination.css")
    .css("/public/stylesheet/jquery.fs.stepper.css")
	.done(assets)
	%></head>


<script type="text/javascript">
	$(document).ready(function(){
        $("input[type='number']").stepper();
        $("#productForm").validationEngine();
        $('#productID').focus();
		$("#productID").keydown(function(event) {  
	        if (event.keyCode == 13) {  
	            getProductOneInfo($("#productID").val()); 
	        }
	    }) ; 

	});
</script>

<div class="main_div" id="main_div_si">
	<h3>入库操作</h3>
	<hr>
		<form class="productAddTemp" id="productForm" >
        <div class="row">
            <div class="col-md-3">
                商品型号(条形码):
                <input class="form-control validate[required]" id="productID" name="PRODUCT_ID" />
            </div>
            <div class="col-md-3">
                商品名称:
                <input class="form-control validate[required]" id="productName"  name="PRODUCT_NAME" />
            </div>
            <div class="col-md-3">
                商品数量:
                <input type="number" min="1" class="form-control validate[required,custom[integer],min[0]]" id="productNum"  name="NUM" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                商品单价:
                <div class="input-group">
                  <input type="text" class="form-control" id="productPrice" name="PRICE">
                  <span class="input-group-addon">.00</span>
                </div>
            </div>
        	<div class="col-md-3">
                供应商:
                 <input id="pd_supplier" class="form-control" name="SUPPLIER" size="16" type="text">
            </div>
            <div class="col-md-3">
                批号(生产日期):
                <input type="text" class="form-control validate[required]" id="batchNum" name="BATCH_NUM">
            </div>
            <div class="col-md-3">
                备注:
                <input id="pd_remark" class="form-control" name="REMARK" size="16" type="text">
            </div>
            
        </div>

        <div class="row">
             <div class="col-md-3">
                <button type="button" id="submitBtn" type="submit" class="btn btn-primary" style="margin-top:10px" onclick="addProductToList()">添加商品至入库列表</button>


            </div>
        </div>
    </form>
    <div>
        <hr>
        <h3>已添加</h3>
        <hr>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>商品名</th>
                    <th>商品型号</th>
                    <th>单价</th>
                    <th>数量</th>
                    <th>供应商</th>
                    <th>生产批号</th>
                    <th>备注</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody id='add_listView'>

            </tbody>
        </table>
        <div style="width: 140px;margin-top: 15px;float: right;" id="submitStockIn">
        	<button type="button"  onclick="submitStockIn()" class="btn btn-default btn-lg">
			<span class="glyphicon glyphicon-ok"></span> 确认入库
			</button>
        </div>
    </div>
</div>