<head>
<!-- script -->
<%- Loader("/public/javascript/StockOut.min.js")
	.js("/public/javascript/bootstrap-select.js")
	.js("/public/javascript/bootstrap-datepicker.js")
    .js("/public/javascript/locales/bootstrap-datepicker.zh-CN.js")
	.js("/public/javascript/bootbox.min.js")
	.js("/public/javascript/StockOut.js")
    .js("/public/javascript/moment.min.js")
	.js("/public/javascript/jquery.fs.stepper.js")
	.js("/public/lib/jquery/jquery.simplePagination.js")
	.done(assets)
	%>
<!-- style -->
<%- Loader("/public/stylesheet/StockOut.min.css")
	.css("/public/stylesheet/bootstrap-select.css")
	.css("/public/stylesheet/datepicker.css")
	.css("/public/stylesheet/simplePagination.css")
	.css("/public/stylesheet/jquery.fs.stepper.css")
	.done(assets)
	%></head>

<script type="text/javascript">
	$(document).ready(function(){
		getALLOrders($("#sDate").val(),$("#eDate").val()); 
        $('.input-daterange').datepicker({
            format: "yyyy-mm-dd",
            language: "zh-CN",
            autoclose: true
        });
	});
</script>
<div class="main_div">
	<h3>订单列表</h3>
	<hr>
    <div style="float:right; width:300px;">
        <button style="float: right;margin-left: 10px;height: 30px;" type='button' class='btn btn-info ' onclick="searchOrdersByDate()">搜索</button>
        <div class="input-daterange input-group" id="datepicker">
            <input type="text" class="input-sm form-control" id="sDate" name="start" />
            <span class="input-group-addon">至</span>
            <input type="text" class="input-sm form-control" id="eDate" name="end" />
        </div>

    </div>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <div class="tabbable" id="tabs-410411">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="#panel-1" data-toggle="tab">未出库</a>
                        </li>
                        <li>
                            <a href="#panel-3" data-toggle="tab">已出库</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active fade in" id="panel-1">
                            <table  class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>客户名称</th>
                                        <th>订单生成时间</th>
                                        <th>备注</th>
                                        <th>状态</th>
                                        <th>操作</th>
                                    </tr>
                                </thead>
                                <tbody id='add_listView'>

                                </tbody>
                            </table>
                        </div>

                        <div class="tab-pane" id="panel-3">
                             <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>客户名称</th>
                                        <th>订单生成时间</th>
                                        <th>备注</th>
                                        <th>状态</th>
                                        <th>操作</th>
                                    </tr>
                                </thead>
                                <tbody id='add_listView2'>

                                </tbody>
                            </table>
                        </div>
                    </div>
                    
                </div>

            </div>
        </div>
    </div>



    <div class="modal fade" id="checkStockOut" tabindex="-1" role="dialog" aria-labelledby="checkBookListModleLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" >发货出库确认</h4>
                    请确认订单
                    <p>
                    商品编号(条形码):
                    <input class="form-control" id="productIDCheck" />
                    </p>
                </div>
                <div class="modal-body" id="lastStockOutInfo">
                    <h5>客户名:<span id="lastStockOutCustName"></span></h5>
                    <h5>订单时间:<span id="lastStockOutTime"></span></h5>
                    <h5>备注:<span id="lastStockOutRemark"></span></h5>
                    <table id="lastStockOutInfoDetails" class="table table-striped">
                        <thead>
                            <tr>
                                <th>商品名</th>
                                <th>数量</th>
                                <th>备注</th>
                                <th>发货确认</th>
                            </tr>
                        </thead>
                        <tbody id='astStockOut_listView'>
                            
                        </tbody>
                    </table>
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" id="lastStockOutBtn" class="btn btn-primary">确认发货</button>
                </div>

            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

</div>